# Remote Host IP/Domain
TARGET_HOST="IP"
LOG_LEVEL="debug"
BRANCH="dev"

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET="B9U6NewaytDSFFilrcFleJ74gHN7WB0QM798789654645" 
# 這個是用來加密 session cookie 的，請確保它足夠長且隨機，以保護你的應用安全。
AUTH_GOOGLE_ID="5415945714356-c6op7d3aof1fq83k48v3i7suaf8na91o.apps.googleusercontent.com"
# OAuth 憑證的 Client ID，從 Google Cloud Console 取得。
AUTH_GOOGLE_SECRET="GOCSPX-GGLsVMGotUnt5JzmmpleeQQEKyu"


# PostgreSQL 配置
DATABASE_URL="postgresql://postgres:admin@PostgresSQL:5432/model_library"
## prisma.config.ts use behide config.
POSTGRESDB_URI ="postgresql://postgres:admin@PostgresSQL:5432/model_library"
POSTGRESDB_USER = "postgres"
POSTGRESDB_PASSWORD = "admin"
POSTGRESDB_DB = "model_library"
POSTGRESDB_HOST = "PostgresSQL" # postgresdb Alias for Docker Compose 內部網路使用
POSTGRESDB_PORT = 5432  # 不建議修改
DB_ADMIN_PORT = 6543

# MinIO (S3 兼容存储) 配置
S3_REGION = "us-east-1"
S3_ACCESS_KEY = "minioadmin"
S3_SECRET_KEY = "minioadmin"
S3_IFC_BUCKET = "ifcfiles"
S3_FRAGS_BUCKET = "frags"
S3_IMAGES_BUCKET = "images"
S3_PDF_BUCKET = "pdf"
S3_HOST = "minio-local" # MinIO Alias for Docker Compose 內部網路使用
S3_PORT = 9000
S3_CONSOLE_PORT = 9001
NEXT_PUBLIC_S3_ENDPOINT= "${TARGET_HOST}:${S3_PORT}"
S3_ENDPOINT = "http://${S3_HOST}:${S3_PORT}"
# 常用初始帳號： admin #Admin123@@ 
# 這些是 MinIO 的設定，確保你的 MinIO 服務正在運行，並且這些憑證與你的 MinIO 配置相匹配。

# REDIS
REDIS_HOST=${TARGET_HOST}
REDIS_SRV_PORT=6379
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=******

# Memory Queue 配置
IFC_CONVERSION_Q = "ifc-conversion-queue"

# Frontend PORT
FRONTEND_PORT= 3001

# Sub. Client 端的環境變數
TUS_SERVER_HOST= "tus-server-local"
TUS_SERVER_PORT= 3003
NEXT_PUBLIC_TUS_SERVER_HOST= "${TARGET_HOST}"
NEXT_PUBLIC_TUS_SERVER_PORT= "${TUS_SERVER_PORT}"
IFC_FRAGS_CONVERT_WORKER_HOST= "ifcToFragsConvertWorker-local"
IFC_FRAGS_CONVERT_WORKER_PORT=3005
IFC_FRAGS_CONVERT_WORKER_WEBHOOK_URL="${IFC_FRAGS_CONVERT_WORKER_HOST}:${IFC_FRAGS_CONVERT_WORKER_PORT}"


ALLOWED_ORIGINS = http://localhost:3000,https://modellibrary.bies-cloud.com